body {
  margin: 0;
}

.content-wrapper {
  width: calc(100% - 2 * var(--page-padding-desktop));
  max-width: var(--content-default);
  margin-inline: auto;
}

@media (max-width: 960px) {
  .content-wrapper {
    width: calc(100% - 2 * var(--page-padding-mobile));
  }
}
